.dropdown {
    color: #1f84d6;
    margin-left: 1%;
}
.dropdown-content {
    color: black;
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: medium;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.senha_wrp {
    position: relative;
}

#versenha {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    width: 2rem;
    display: flex;
    align-items: center;
    border: none;
    background: none;
}

#versenha i {
    width: 100%;
    height: auto;
}

.formlogin {
    margin-top: 10%; 
    align-items: center;
    background-color: white;
    max-width: 23%;
    padding: 40px;
    border-radius: 5px;
}